[user]
    name = Denis Kyashif
[user]
    email = denis.kyashif@gmail.com
[credential]
    helper = osxkeychain
[push]
    default = current
[core]
    editor = "vi"
[alias]
    a = "add -A"
    b = branch
    c = commit
    co = checkout
    d = diff
    dc = "diff --cached"
    f = fetch
    l = "log --graph --decorate --pretty='format:%C(yellow)%h%Cgreen%d%Creset %s%C(white) (%an, %ar)%Creset' --abbrev-commit"
    ls = ls-files
    p = "pull"
    pl = "pull --rebase=preserve"
    ps = push
    pfl = "push --force-with-lease"
    ri = "rebase -i"
    rc = "add .; git rebase --continue"
    s = status
    show = hsow
    st = stash
    stahs = stash
    today = "log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative"
    undo = "reset --soft HEAD"
    unstage = "reset HEAD"
