.gitconfig
*~
.cask
*.elc
*.dat
emacs/
elpa
eshell
history
.coffee_history
.codeintel

.ICEauthority
.Skype/
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.dmrc
.eclipse/
.gconf/
.gnome/
.gnupg/
.local/
.macromedia/
.mozilla/
.npm/
.nv/
.nvidia-settings-rc
.pam_environment
.pcloud/
.pki/
.profile
.thumbnails/
.thunderbird/
.v8flags.3.28.71.19.denis.json
.v8flags.3.28.71.19.root.json
.xsession-errors
.xsession-errors.old
Documents/
q
tmp/
workspace/
.dnx
Downloads/
OmniSharpServer/
omnisharp-roslyn
pCloudDrive